.App {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.dark-theme {
  background-color: #1a1a1a;
  color: #fff;
  height: 500px;
}

.spinner-container {
  padding-top: 50px
}

.sending-spinner {
  width: 5em !important;
  height: 5em !important;
  /* Hacky way to center spinner 
  (320width panel - 80width spinner - 16padding) / 2
  */
  margin-left: 112px;
}

.logo-container {
  padding-top: 40px;
}