.App {
    font-family: Arial, Helvetica, sans-serif;
}

.dark-theme {
  background-color: #242424;
  color:#e5e3e8;
}

.spinner-container {
  padding-top: 50px
}

.sending-spinner {
  width: 5em !important;
  height: 5em !important;
  /* Hacky way to center spinner 
  (320width panel - 80width spinner) / 2
  */
  margin-left: 120px;
}
