.dark-list-item1 {
  background-color: #1a1a1a !important;
  overflow-wrap: break-word;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  font-weight: 400;
}

.dark-list-item2 {
  background-color: #262626 !important;
  overflow-wrap: break-word;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  font-weight: 400;
}

.user-displayName {
  color: #b3b3b3;
  padding-top: 8px;
  font-size: 11px;
  font-weight: 300;
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.msg-action-buttons {
  float: right;
}

.button-action {
  padding: 0 !important;
}

.button-action:focus {
  box-shadow: none !important;
}

.button-action-accept:hover {
  fill: #66BB6A;
}

.button-action-reject:hover {
  fill: #EF5350;
}

.placeholder {
  padding-top: 50px;
  padding-left: 16px;
  padding-right: 16px;
}

.logo-footer {
  padding-top: 80px;
}

.twitch-link {
  color: #b3b3b3;
  font-weight: 700;
}

.twitch-link:hover {
  color: #aaaaaa;
}
