.dark-list-item {
  background-color: #242424 !important;
  border-color: #dcdcdc !important;
  overflow-wrap: break-word;
}

.user-displayName {
  font-size: 12px;
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.msg-action-buttons {
  float: right;
}

.button-action {
  padding: 0 !important;
}

.button-action:focus {
  box-shadow: none !important;
}

.button-action-accept:hover {
  fill: #66BB6A;
}

.button-action-reject:hover {
  fill: #EF5350;
}

.placeholder {
  padding-top: 50px;
}

.twitch-link {
  color: #03a9f4;
}

.twitch-link:hover {
  color: #0288D1;
}
