.header-region {
  height: 50px;
  padding-top: 8px;
}

.form-region {
  height: 372px;
  padding-top: 8px;
}

.footer-region {
  height: 38px;
}

.spinner-container {
  padding-top: 50px
}

.sending-spinner {
  width: 5em !important;
  height: 5em !important;
  /* Hacky way to center spinner 
  (320width panel - 80width spinner) / 2
  */
  margin-left: 120px;
}

.success-message {
  padding-top: 50px;
}

.message-padding {
  padding-top: 8px;
}

.send-button {
  border-radius: 0 !important;
  background-color: #03a9f4 !important;
}

.send-button:hover {
  background-color: #29B6F6 !important;
}

.send-button:focus {
  background-color: #29B6F6 !important;
}

.post-another-button {
  /* Hacky way to center button 
  (320width panel - 118.5width button) / 2
  */
  margin-left: 100.75px;
  background-color: #03a9f4 !important;
}

.post-another-button:hover {
  background-color: #29B6F6 !important;
}

.post-another-button:focus {
  background-color: #29B6F6 !important;
}

.form-group-container {
  padding: 0 8px;
}

.textarea-styles {
  max-height: 300px;
  min-height: 50px;
}