.form-region {
  height: 422px;
  padding: 16px 8px 0 8px;
}

.footer-region {
  height: 38px;
}

.spinner-container {
  padding-top: 50px
}

.sending-spinner {
  width: 5em !important;
  height: 5em !important;
  /* Hacky way to center spinner 
  (320width panel - 80width spinner - 16padding) / 2
  */
  margin-left: 112px;
}

.info-message {
  padding-top: 50px;
}

.message-padding {
  padding-top: 8px;
}

.send-button {
  border-radius: 0 !important;
  background-color: #03a9f4 !important;
}

.send-button:hover {
  background-color: #29B6F6 !important;
}

.send-button:focus {
  background-color: #29B6F6 !important;
}

.post-another-button {
  /* Hacky way to center button 
  (320width panel - 118.5width button - 16padding) / 2
  */
  margin-left: 92.75px;
  background-color: #03a9f4 !important;
}

.post-another-button:hover {
  background-color: #29B6F6 !important;
}

.post-another-button:focus {
  background-color: #29B6F6 !important;
}

.form-group-container {
  padding: 0 8px;
}

.textarea-styles {
  max-height: 300px;
  min-height: 50px;
}

.textarea-disabled {
  max-height: 300px;
  min-height: 50px;
  background-color: #e0e0e0 !important;
}

.warning-icon-left {
  margin-right: 8px;
  margin-bottom: 4px;
}

.warning-icon-right {
  margin-left: 8px;
  margin-bottom: 4px;
}

.bits-disabled-message {
  padding: 0 8px;
  font-weight: 300;
}

.form-help-block {
  color: #b3b3b3 !important;
}

.success-logo-footer {
  padding-top: 140px;
}